@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600700,800,900&display=swap');

header{
    position: fixed;
    top: 0;
}
.product .container{
    margin-top: 100px;
}
.spcial-section{
    text-align: start;
}
footer{
    margin-top: 150px;
    -webkit-box-shadow: 0 7.5px 23px 9px #a1cfde;
    -moz-box-shadow: 0 7.5px 23px 9px #a1cfde;
    box-shadow: 0 7.5px 23px 9px #a1cfde;
}